<div class="form-group">
    {{ form.ad.label_tag }}
    {{ form.ad }}
    {{ form.ad.errors }}
</div>
<div class="form-group">
    {{ form.miktar.label_tag }}
    {{ form.miktar }}
    {{ form.miktar.errors }}
</div>
<div class="form-group">
    {{ form.kalori.label_tag }}
    {{ form.kalori }}
    {{ form.kalori.errors }}
</div>
<div class="form-group">
    {{ form.aciklama.label_tag }}
    {{ form.aciklama }}
    {{ form.aciklama.errors }}
</div>
<div class="form-group">
    {{ form.ogun.label_tag }}
    {{ form.ogun }}
    {{ form.ogun.errors }}
</div>
<div class="form-group">
    {{ form.protein.label_tag }}
    {{ form.protein }}
    {{ form.protein.errors }}
</div>
<div class="form-group">
    {{ form.karbonhidrat.label_tag }}
    {{ form.karbonhidrat }}
    {{ form.karbonhidrat.errors }}
</div>
<div class="form-group">
    {{ form.yag.label_tag }}
    {{ form.yag }}
    {{ form.yag.errors }}
</div>