{% extends 'base.html' %}
{% block content %}
<div class="form-card">
    <h1>Kayıt ol</h1>
    <form method="POST">
        {% csrf_token %}
        <div class="form-group">
            {{ form.username.label_tag }}
            {{ form.username }}
            {{ form.username.errors }}
        </div>
        <div>
            {{ form.password1.label_tag }}
            {{ form.password1 }}
            {{ form.password1.errors }}
        </div>
        <div>
            {{ form.password2.label_tag }}
            {{ form.password2 }}
            {{ form.password2.errors }}
        </div>
        <button type="submit" class="form-button">Kayıt ol</button>
    </form>
</div>
{% endblock %}